<?xml version="1.0" encoding="utf-8"?>
<package>
  <info>
    <name>EFFS_Sample</name>
    <label> Aras Effectivity Services – Sample</label>
    <version>11.0.7180</version>
    <version_label>11.0.15.1</version_label>
    <type>aia</type>
    <owner>Aras Corporation</owner>
    <description>This sample application provides examples to show how Effectivity Services can be used to build custom applications for effectivity management.</description>
    <copyright>©2018 Aras Corporation</copyright>
    <package_icon>package.ico</package_icon>
    <more_information_url>TBD</more_information_url>
    <tool_minimal_version_required>1.1</tool_minimal_version_required>
  </info>
  <installation>
    <module id="IS" label="@{Pkg.IS.Label}" description="@{Pkg.IS.Desc}" required_properties="Innovator.Dir">
      <copy todir="${Innovator.Dir}/Client" failonerror="true">
        <fileset basedir="${Package.Dir}/Files/Innovator/Client">
          <include name="**" />
        </fileset>
      </copy>
    </module>
    <module id="DB" label="@{Pkg.DB.Label}" description="@{Pkg.DB.Desc}" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
      <dependencies>
        <innovator version="11.0 SP15" />
        <application exists="true" name="com.aras.innovator.solution.PLM" />
      </dependencies>
      <import dir="${Package.Dir}/Imports/" failonerror="true" />
    </module>
    <module id="DL" label="Sample Data Actions" description="Optional. Imports methods for adding/removing sample data." required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
      <!-- Import data load methods -->
      <import dir="${Package.Dir}/SampleData/Import/" failonerror="true" />
    </module>
  </installation>
</package>